body{
 font-family: Arial, sans-serif;
 text-align: center;
}

.nav-bar {
    display: flex;
    position: absolute;
    right: .2rem;
    top: .2rem;
}

.nav-bar ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-bar li {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-right: 2rem;
}
.nav-bar a {
    font-size: 13px;
    text-decoration: none;
    color: #000000DE;
}

.resize-image {
    width: 24px;
    height: 24px;
    opacity: .6;
}

.profile-image {    
    width: 32px;
    height: 32px;
    border-radius: 20px;
}

.google-logo {
    margin-top: 3.3rem;
    width: 272px;
    height: 92px;
}

.search-tab {
    margin-top: 2rem; 
}

.search-tab svg {
    display: inline-block;   
    
}

/* .search-icon {
    margin-right: 2rem;
} */


input[type="text"] {
    border: 1px groove rgb(59, 58, 58);
    opacity: .8;
    width: 582px;
    height: 44px;
    color: #000000;
    background: #ffffff;
    border-radius: 30px;

}

.google-buttons {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.button-style {
    margin-right: .4rem;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    background-color: #f8f9fa;
    width: 142px;
    height: 36px;
    color: black;
    line-height: 27px;
    font-size: 14px;
}

.ramadan a {
    text-decoration: none;
    color: #1A0DAB;
    font-size: 13px;
}

.lang {
    font-size: 13px;    
}

.lang a {
    padding-right: 10px;
    text-decoration: none;
    color: #1A0DAB;
}

.footer-container {
    margin-top: 3rem;
    background-color: #f2f2f2;
    color: rgba(0,0,0,.54);
}

.footer-container span {
    position: absolute;
    left: 1.5rem;
    padding-top: 1.5rem;
}

.footer-container a {
    text-decoration: none;
    color: rgba(0,0,0,.54);
    
}

.footer-grid li {
    list-style: none;
    padding-left: 1rem;
}

.footer-grid {
    padding-top: 5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-areas: 
    "footer-left carbon footer-right"; 
}

.footer-left {
    grid-area: footer-left;
    display: flex;
}

.carbon {
    grid-area: carbon;
    
}

.footer-right {
    grid-area: footer-right;
    display: flex;
}